# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
### Assignment 1: Creating and Accessing Tuples
tpl = ()
for i in range(1, 11):
    tpl += (i,)

print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
### Assignment 2: Accessing Tuple Elements
print(tpl[0])
print(len(tpl)//2)
print(tpl[-1])

1
5
10

In [3]:
### Assignment 3: Tuple Slicing
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [4]:
### Assignment 4: Nested Tuples
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(matrix)
print(matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [5]:
### Assignment 5: Tuple Concatenation
tpl1 = (1,2,3)
tpl2 = (4,5,6)
concatenated_tpl = tpl1 + tpl2
print(concatenated_tpl)

(1, 2, 3, 4, 5, 6)

In [6]:
### Assignment 6: Tuple Methods
dub_tpl = (1,2,2,3,4,2,5)
print(dub_tpl.count(2))
print(dub_tpl.index(1))

3
0

In [7]:
### Assignment 7: Unpacking Tuples
unpack_tpl = (1, 2, "AB", True, 3.14)
a,b,c,d,e = unpack_tpl

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
AB
True
3.14

In [8]:
### Assignment 8: Tuple Conversion
lst = [1, 2, 3, 4, 5]
con_tpl=tuple(lst)
print(con_tpl)

(1, 2, 3, 4, 5)

In [9]:
### Assignment 9: Tuple of Tuples
tpl_tpl = ((1,2,"A"), (3,4,"b"), (5,6,True))
print(tpl_tpl[0])
print(tpl_tpl[1])
print(tpl_tpl[2])

(1, 2, 'A')
(3, 4, 'b')
(5, 6, True)

In [10]:
### Assignment 10: Tuple and List
new_tpl = (1,2,3,4,5)
new_lst = list(new_tpl)
new_lst.append(6)
converted_tpl = tuple(new_lst)
print(converted_tpl)

(1, 2, 3, 4, 5, 6)

In [11]:
### Assignment 11: Tuple and String
sep_tpl = ("a","s","s","i","g","n","m","e","n","t")
combine_str = "".join(sep_tpl)
print(combine_str)

assignment

In [12]:
### Assignment 12: Tuple and Dictionary
dict_tpl = {
    (1,2): 12,
    (3,4): 34,
    (5,6): 56
}

print(dict_tpl)

{(1, 2): 12, (3, 4): 34, (5, 6): 56}

In [13]:
### Assignment 13: Nested Tuple Iteration
tpl1 = ((1,2,3), (4,5,6), (7,8,9))
for iter_tpl in tpl1:
    for elem in iter_tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [14]:
### Assignment 14: Tuple and Set
tpl2 = (1,2,3,4,5,6,7,8,9,10)
set_tpl = set(tpl2)
print(set_tpl)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
### Assignment 15: Tuple Functions
def min_tpl(tpl):
    return min(tpl)
def max_tpl(tpl):
    return max(tpl)
def sum_tpl(tpl):
    return sum(tpl)

tpl3 = (1,2,3,4,5,6,7,8,9,10)
print(min_tpl(tpl3))
print(max_tpl(tpl3))
print(sum_tpl(tpl3))

1
10
55